In [124]:
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split
import numpy as np

In [71]:
df = pd.read_csv('movies.csv')

In [112]:
df.head()

,name,rating,genre,score,votes,director,writer,star,country,budget,gross,company,runtime,date_release
0,The Shining,R,Drama,8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,1980-06-13
1,The Blue Lagoon,R,Adventure,5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,1980-07-02
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,1980-06-20
3,Airplane!,PG,Comedy,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,1980-07-02
4,Caddyshack,R,Comedy,7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,1980-07-25

In [115]:
filtro = df['director'] == 'Jim Abrahams'
df.loc[filtro]

,name,rating,genre,score,votes,director,writer,star,country,budget,gross,company,runtime,date_release
3,Airplane!,PG,Comedy,7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,1980-07-02
497,Top Secret!,PG,Comedy,7.2,62000.0,Jim Abrahams,Jim Abrahams,Val Kilmer,United Kingdom,9000000.0,20458340.0,Kingsmere Properties,90.0,1984-06-08
903,Ruthless People,R,Comedy,6.9,27000.0,Jim Abrahams,Dale Launer,Bette Midler,United States,13000000.0,71624879.0,Touchstone Pictures,93.0,1986-06-27
1335,Big Business,PG,Comedy,6.4,13000.0,Jim Abrahams,Dori Pierson,Bette Midler,United States,NaN,40150487.0,Touchstone Pictures,97.0,1988-06-10
1737,"Welcome Home, Roxy Carmichael",PG-13,Comedy,5.9,5000.0,Jim Abrahams,Karen Leigh Hopkins,Winona Ryder,United Kingdom,NaN,3989297.0,Incorporated Television Company (ITC),95.0,1990-10-12
1874,Hot Shots!,PG-13,Action,6.8,102000.0,Jim Abrahams,Jim Abrahams,Charlie Sheen,United States,26000000.0,181096164.0,Twentieth Century Fox,84.0,1991-07-31
2297,Hot Shots! Part Deux,PG-13,Action,6.6,86000.0,Jim Abrahams,Jim Abrahams,Charlie Sheen,United States,25000000.0,133752825.0,Twentieth Century Fox,86.0,1993-05-21
3392,Mafia!,PG-13,Comedy,5.6,15000.0,Jim Abrahams,Jim Abrahams,Jay Mohr,United States,10000000.0,19889299.0,Tapestry Films,87.0,1998-07-24

In [93]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7668 entries, 0 to 7667
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          7668 non-null   object
 1   rating        7591 non-null   object
 2   genre         7668 non-null   object
 3   score         7665 non-null   float64
 4   votes         7665 non-null   float64
 5   director      7668 non-null   object
 6   writer        7665 non-null   object
 7   star          7667 non-null   object
 8   country       7665 non-null   object
 9   budget        5497 non-null   float64
 10  gross         7479 non-null   float64
 11  company       7651 non-null   object
 12  runtime       7664 non-null   float64
 13  date_release  7666 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(5), object(8)
memory usage: 838.8+ KB

In [74]:
df.isnull().sum()

name           0
rating        77
genre          0
year           0
released       2
score          3
votes          3
director       0
writer         3
star           1
country        3
budget      2171
gross        189
company       17
runtime        4
dtype: int64

In [75]:
df.shape

(7668, 15)

In [81]:
df['date_release'] = df['released'].astype(str).str.split("(", expand = True)[0]
df

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime,date_release
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0,"June 13, 1980"
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0,"July 2, 1980"
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0,"June 20, 1980"
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0,"July 2, 1980"
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0,"July 25, 1980"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7663,More to Life,NaN,Drama,2020,"October 23, 2020 (United States)",3.1,18.0,Joseph Ebanks,Joseph Ebanks,Shannon Bond,United States,7000.0,NaN,NaN,90.0,"October 23, 2020"
7664,Dream Round,NaN,Comedy,2020,"February 7, 2020 (United States)",4.7,36.0,Dusty Dukatz,Lisa Huston,Michael Saquella,United States,NaN,NaN,Cactus Blue Entertainment,90.0,"February 7, 2020"
7665,Saving Mbango,NaN,Drama,2020,"April 27, 2020 (Cameroon)",5.7,29.0,Nkanya Nkwai,Lynno Lovert,Onyama Laura,United States,58750.0,NaN,Embi Productions,NaN,"April 27, 2020"
7666,It's Just Us,NaN,Drama,2020,"October 1, 2020 (United States)",NaN,NaN,James Randall,James Randall,Christina Roz,United States,15000.0,NaN,NaN,120.0,"October 1, 2020"
7667,Tee em el,NaN,Horror,2020,"August 19, 2020 (United States)",5.7,7.0,Pereko Mosia,Pereko Mosia,Siyabonga Mabaso,South Africa,NaN,NaN,PK 65 Films,102.0,"August 19, 2020"

In [77]:
# df['date_release'] = df['date_release'].str[:-1]
# df['in_state'] = df['in_state'].str[:-1]

In [82]:
df['date_release'] = pd.to_datetime(df['date_release'])

In [88]:
df.drop(['released', 'year'], axis=1, inplace=True)

In [98]:
X = df.drop(['gross'], axis=1).values
y = df['gross'].values

In [138]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [139]:
label_encoder = LabelEncoder()
D = pd.get_dummies(X[:,0])

In [159]:
onehot = OneHotEncoder()
X1 = onehot.fit_transform(df.director.values.reshape(-1,1)).toarray()
X1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices